dags/workflows/orchestrate_all.yaml
id: lewis-hamilton-full-pipeline
namespace: lewis_hamilton_brilliance
description: "Checks for new data version, then ingests and runs dbt transformations if needed."

tasks:
  - id: check-version
    type: io.kestra.core.tasks.scripts.Bash
    inputFiles:
      version_txt: compact-arc-447521-f9-data-lake/raw/latest/version.txt
      check_version.py: |
        import os
        new_version = "2025.4.0"
        version_path = "/workspace/version_txt"

        if os.path.exists(version_path):
            with open(version_path, 'r') as f:
                existing_version = f.read().strip()
        else:
            existing_version = ""

        with open("version_status.txt", "w") as out:
            out.write("NEW" if existing_version != new_version else "OLD")
    commands:
      - python check_version.py
    outputFiles:
      - version_status.txt

  - id: decide-path
    type: io.kestra.core.tasks.flows.Switch
    value: "{{ outputs.check-version.outputFiles['version_status.txt'].content }}"
    cases:
      NEW:
        - id: run-ingestion
          type: io.kestra.core.tasks.scripts.Bash
          commands:
            - python ingestion/manage_raw_data.py

        - id: dbt-dev
          type: io.kestra.core.tasks.scripts.Bash
          commands:
            - dbt run --target dev

        - id: dbt-semi
          type: io.kestra.core.tasks.scripts.Bash
          commands:
            - dbt run --target semi

        - id: dbt-final
          type: io.kestra.core.tasks.scripts.Bash
          commands:
            - dbt run --target final

      OLD:
        - id: skip-transforms
          type: io.kestra.core.tasks.log.Log
          message: "No new data version. Skipping ingestion and dbt transforms."
